---
layout: archive
permalink: /tags/
title: "Posts por Etiquetas"
author_profile: true
indexable: true
---

{% include group-by-array collection=site.posts field="tags" %}

<div id="tag-accordion" class="accordion">
  {% for tag in group_names %}
    {% assign posts = group_items[forloop.index0] %}
    <button class="accordion-btn"><b>{{ tag | capitalize }}</b></button>
    <div id="{{ tag | slugify }}" class="panel">
      {% for post in posts %}
        {% include archive-single.html %}
      {% endfor %}
    </div>
  {% endfor %}
</div>