<script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/super-search.js' | absolute_url }}"></script>

<!-- Search -->
<script>
    superSearch({
        searchFile: '/feed.xml',
        searchSelector: '#js-super-search', // CSS Selector for search container element.
        inputSelector: '#js-super-search__input', // CSS selector for <input>
        resultsSelector: '#js-super-search__results' // CSS selector for results container
    });
</script>

<!-- Subscription Pop-up -->
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js"
        data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script>
    $("#subscribe").click(function(e) {
        e.preventDefault(); // Prevent the link trying to navigate to another page
        var href = $(this).attr("href");

        document.cookie = "MCPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
        document.cookie = "MCPopupSubscribed=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
        require(["mojo/signup-forms/Loader"], function(L) {
            L.start({"baseUrl":"mc.us16.list-manage.com","uuid":"2a169d38f834d3724e7764184","lid":"8aebc7cbf0"})
        });

        // window.location = href; // Navigation
    });
</script>

<!-- Math Integration (LaTeX) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<!-- Top & Bottom Arrows -->
<script>
    const MIN_HEIGHT = 50;

    function scrollFunction() {
        document.getElementById("bottom-btn").style.display = "none";
        document.getElementById("top-btn").style.display = "none";
        if (checkIfTop()) {
            document.getElementById("top-btn").style.display = "block";
        } else if (checkIfBottom()) {
            document.getElementById("bottom-btn").style.display = "block";
        }
    }

    window.onscroll = function() {
        scrollFunction();
    };

    window.onresize = function() {
        scrollFunction();
    };

    function goToTop() {
        document.body.scrollTop = 0; // For Chrome, Safari and Opera
        document.documentElement.scrollTop = 0; // For IE and Firefox
        scrollFunction();
    }

    function goToBottom() {
        document.body.scrollTop = document.body.scrollHeight;
        document.documentElement.scrollTop = document.documentElement.scrollHeight;
        scrollFunction();
    }

    function checkIfTop() {
        return checkIfBottom() && (document.body.scrollTop > MIN_HEIGHT || document.documentElement.scrollTop > MIN_HEIGHT);
    }

    function checkIfBottom() {
        return innerHeight < document.body.scrollHeight || innerHeight < document.documentElement.scrollHeight;
    }

    scrollFunction();
</script>

<!-- Comments -->
{% include /comments-providers/scripts.html %}
