---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";
@import "super-search.css";
@import "subscribe-form.css";

.arrow-btn {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10;
  border: none;
  outline: none;
  background-color: transparent;
  color: #555;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

.arrow-btn:hover {
  color: black;
}

.hidden {
  display: none;
}

.image {
  margin-left: 20px;
  margin-right: 20px;
}

img.center {
  display: block;
  margin: 0 auto;
}

p.center,
a.center {
  text-align: center;
  width: 100%;
}
