/* super-search
Author: Kushagra Gour (http://kushagragour.in)
MIT Licensed
*/
.super-search-btn {
	position: relative;
    fill: darkgrey;
    transition: 0.1s ease-out;
}
.super-search-btn:hover {
    fill: dimgrey;
}

.super-search {
	position: fixed;
	background-color: rgba(128,128,128,0.85);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 30;
	transition: 0.2s ease;
	visibility: hidden;
	opacity: 0;
}
.super-search__close-btn {
    border: 0;
    font-size: 1.75em;
    font-weight: bold;
    color: darkgrey;
    position: absolute;
    right: 0;
    width: 20%;
    padding: 10px;
    text-align: center;
    transform: translateY(-100%);
    transition: 0.1s ease-out;
    z-index: 35;
}
.is-active .super-search__close-btn {
     transform: translateY(0);
 }
.is-active .super-search__close-btn:hover {
    color: dimgrey;
}
.super-search__input {
	border: 0;
	font-size: 1.75em;
	border-left: none;
	border-right: none;
	color: grey;
	width: 100%;
    padding: 15px;
	text-align: center;
	transform: translateY(-100%);
	transition: 0.15s ease-out;
}
.is-active .super-search__input {
	transform: translateY(0);
}
.super-search__results {
	text-align: center;
	list-style: none;
	padding: 0;
	overflow-x: hidden;
	height: calc(100% - 110px);
	transition: 0.2s ease;
}
.super-search__results.is-hidden {
	opacity: 0;
	transform: translateY(-1vh);
}

.super-search__results > li > a {
	display: block;
	position: relative;
	background-color: whitesmoke;
	color: dimgrey;
	padding: 17px;
	margin: 12px 14px;
	box-shadow: 0 3px 4px rgba(0,0,0,0.1);
}
.super-search__result-date {
	color: darkgrey;
	position: absolute;
	right: 12px;
}
.super-search.is-active {
	opacity: 1;
	visibility: visible;
}